* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ee82ee; }

header nav {
  margin: 0 auto;
  padding: 0.5rem;
  display: contents;
  justify-content: center; }
  header nav ul {
    background-color: #492049be;
    padding: auto;
    margin: 1rem auto;
    height: 5rem auto;
    border-radius: 2px;
    display: flex;
    align-items: flex-end;
    align-items: center; }
    header nav ul li a {
      color: #2b032b;
      text-decoration: none;
      padding: 5rem; }
      header nav ul li a:hover {
        background-color: #f372f3;
        color: #605088;
        border-radius: 5.5px; }

.logoi {
  width: 250px;
  display: flex; }

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: flex-start; }
    .nav .nav-item {
      margin-bottom: 10px; }
    .nav .nav-link {
      width: 100%; }
    .nav .nav:hover {
      background-color: #f372f3;
      flex-basis: 100%; } }

.form-container {
  margin: auto;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center; }
  .form-container .container img {
    width: 300px; }

@media (max-width: 768px) {
  .container img {
    flex-basis: 100%; } }

.footer {
  background-color: #8a2be2;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0px;
  justify-content: space-between; }
  .footer .footer-text span {
    color: #bc85ee; }
  .footer a {
    display: inline-block;
    margin-left: 10px; }
    .footer a img {
      width: 50px; }

.gallery {
  display: flex;
  flex: content; }
  .gallery .gallery-item {
    align-content: flex-start;
    width: 300px;
    height: 300px;
    margin: 5px; }
    .gallery .gallery-item .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
