nav{
    margin: 0 auto;
    padding: 0.5rem;
    display: contents;
    justify-content: center;
    a{
        img{
            border-radius: 3px;
        }
    }
    ul{
        background-color: #492049be;
        padding: auto;
        margin: 1rem auto;
        height: 5rem auto;
        border-radius: 5.5px;
        align-items: center;
        li{
            a{
                color: #2b032b;
                text-decoration: none;
                padding: 5rem;
                &:hover{
                    background-color: #f372f3;
                    color: #605088;
                    border-radius: 5.5px;
                }
            }
        }
    }
}