$colorfondo:#ee82ee;
$color-primary: #8a2be2;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$colorfondo;
}
header{
    nav{
        margin: 0 auto;
        padding: 0.5rem;
        display: contents;
        justify-content: center;
        ul{
            background-color: #492049be;
            padding: auto;
            margin: 1rem auto;
            height: 5rem auto;
            border-radius: 2px;
            display: flex;
            align-items: flex-end;
            align-items: center;
            li{
                a{
                    color: #2b032b;
                    text-decoration: none;
                    padding: 5rem;
                    &:hover{
                        background-color: #f372f3;
                        color: #605088;
                        border-radius: 5.5px;
                    }
                }
            }
        }
    }
}
.logoi{
    width: 250px;
    display: flex;
    
}

@media (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        .nav-item {
        margin-bottom: 10px;
        }
        .nav-link {
        width: 100%;
        }
        .nav:hover{
            background-color: #f372f3;
            flex-basis: 100%;
        }
    }
}  

.form-container{
    margin: auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    .container img{
        width: 300px;
    }
}
@media (max-width: 768px){
    .container img {
        flex-basis: 100%;
    }
}

.footer{
    background-color: $color-primary;
    color: white;
    padding: 1rem;    
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0px;
    justify-content: space-between;
    .footer-text {
        span {
            color: lighten($color-primary, 20%);
        }
    }
    a{
    display: inline-block;
    margin-left: 10px;
        img{
            width: 50px;
        }
    }
}

$gallery-item-width: 300px;
$gallery-item-height: 300px;

.gallery {
    display: flex;
    flex: content;
    .gallery-item {
        align-content: flex-start;
        width: $gallery-item-width;
        height: $gallery-item-height;
        margin: 5px;
        .gallery-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



// Establecer el tamaño de las imágenes dentro de los elementos de la galería
