$colorfondo:#ee82ee;
$color-primary: #8a2be2;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$colorfondo;
}
header{
    @import "nav";
}
@media (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        .nav-item {
        margin-bottom: 10px;
        }
        .nav-link {
        width: 100%;
        }
        .nav:hover{
            background-color: #f372f3;
            flex-basis: 100%;
        }
    }
}  
//index

.m1{
    margin: 2rem;
    display: flex;
    section{
        display: inline-block;
        justify-content: center;
        right: 3rem;
        p{
            font: $color-primary;
            font-family: 'Comfortaa', cursive;
            margin: 2rem;
            text-align: center;
        }
    }
    img{
        width: 100% auto;
        border-radius: 15px;
    }    
}
@media screen and (max-width: 768px) {
    .m1{
        display: block;
        img{
            width: 200px;
        }
    }
    
}

//turnos

.m2{
    .form-container{
        padding: 2rem;
        justify-content: center;
        text-align: center;
        .form-group{
            padding: 1rem;
        }
    }
}

//galería
.m3{
    width: auto;
    margin: 0 auto;
    padding: 0 auto;
    width: 95%;
    text-align: center;
    img{
        border-radius: 5px;
        margin: 1rem;
        width: 37vw;
        &:hover{
            transform: scale(1.1, 1.1);
        }
    }
}

@media (max-width: 768px){
    .container img {
        flex-basis: 100%;
    }
}
//contacto
.m4{
    text-align: center;
    div{
        display: inline-block;
        width: 400px;
    }
    iframe{
        padding: 2rem;
        border-radius: 5px;
    }
}

//nosotros
.m5{
    h2{
        text-align: center;
    }
    div{
        text-align: center;
        padding: 0rem 4rem;
        p{
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
        }
        img{
            width: 400px;
        }
    }
}
//productos
.m6{
    padding: 3rem;
    width: 600px;
}
//footer

.footer{
    background-color: $color-primary;
    color: white;
    padding: 1rem;    
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0px;
    justify-content: space-between;
    .footer-text {
        span {
            color: lighten($color-primary, 20%);
        }
    }
    a{
    display: inline-block;
    margin-left: 10px;
        img{
            width: 50px;
        }
    }
}



main{
    div{
        .Historia{
            text-align: center;
            margin: 2rem;
            padding: 0.5rem;
        }
    }
}
