$color-primary: #8a2be2;
.footer{
    background-color: $color-primary;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-text {
        span {
            color: lighten($color-primary, 20%);
        }
    }
    a{
    display: inline-block;
    margin-left: 10px;
        img{
            width: 50px;
        }
    }
}