@importante
main{
    margin: 0;
    padding: 0;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        article{
            position: initial;
            left: 2rem;            
        }
    }
}